/* FONTS */

@font-face {
  font-family: digital;
  src: url(./fonts/digital-7.ttf);
}

@font-face {
  font-family: digitalMono;
  src: url(./fonts/digital-7\ \(mono\).ttf);
}

@font-face {
  font-family: digitalItalic;
  src: url(./fonts/digital-7\ \(italic\).ttf);
}

@font-face {
  font-family: digitalMonoItalic;
  src: url(./fonts/digital-7\ \(mono\ italic\).ttf);
}

/*:======================================================================:*/



* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  margin: 100px auto 0;

  width: max(30%, 300px);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.display {
  margin-bottom: 2%;
  padding: 2%;

  aspect-ratio: 16 / 3;

  container-type: size;
  container-name: number;

  font-family: digitalMono;
  text-align: right;

  border-radius: 0.7vw;
  border: min(0.2vw, 2px) solid black;

  background-color: lightgray;

  flex: 1 1 100%;

  display: flex;
}

.number-text {
  flex: auto;
}

@container number (width > 10px) {
  .number-text {
    font-size: 15cqw;
  }

  .operator-text {
    font-size: 6cqw;
  }
}

.operator-text {
  font-family: monospace;
  letter-spacing: -4px;

  text-align: center;
}

.button {
  aspect-ratio: 4 / 3;

  border-radius: 0.7vw;
  border: min(0.2vw, 2px) solid black;

  background-color: rgb(70, 70, 70);

  flex: 1 1 25%;
}

.button:hover {
  background-color: rgba(70, 70, 70, 0.5);;
}

.wide {
  aspect-ratio: 8 / 3;

  flex: 1 1 50%;
}

.operator, .s_operator {
  background-color: orange;
}

.operator:hover {
  background-color: rgba(255, 166, 0, 0.5);
}

.special {
  background-color: rgb(120, 120, 120);
}

.special:hover {
  background-color: rgba(120, 120, 120, 0.5);
}

